body {
  margin:0px;
  font-family: Source Sans Pro, Helvetica;
}

p {
  font-size: 18px;
  font-family: Source Sans Pro, Helvetica;
  font-weight: normal;
  text-transform: none;
  color: #333;
  letter-spacing: 0px;

}

h1, h2{
  font-size: 18px;
  font-family: Source Sans Pro, Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 5px;
}

h2 {
  font-size: 18px;
  letter-spacing: 0px;
}

h3 {
  font-size: 18px;
  font-family: Source Sans Pro, Helvetica;
  font-weight: normal;
  text-transform: uppercase;
  color: #FF7F00;
  letter-spacing: 0px;
}

h4, h5{
  font-size: 24px;
  font-family: Source Sans Pro, Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

h5 {
  color: #FF7F00;
}

h6{
  font-size: 16px;
  font-family: Source Sans Pro, Helvetica;
  font-weight: normal;
  text-transform: none;
  color: #333;
  letter-spacing: 0px;
  font-style: italic;
  margin: 20px 0px 20px 0px;
}

.container{
  position: relative;
  margin: 0px 80px 0px 80px;
}

.button-primary {
  background-color: #FF7F00;
  color:#fff;
  text-align: center;
  font-size: 14px;
  font-family: Source Sans Pro, Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 18px 36px;
  text-decoration: none;
  display: inline-block;
  border-radius:30px;
  letter-spacing: 5px;
  margin: 30px 0px 30px 0px;
}

.button-inverse {
  background-color: transparent;
  color:#FF7F00;
  text-align: center;
  font-size: 14px;
  font-family: Source Sans Pro, Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px #FF7F00;
  padding: 18px 36px;
  text-decoration: none;
  display: inline-block;
  border-radius:30px;
  letter-spacing: 5px;
  margin: 30px 0px 30px 0px;
}

.button-inverse-secondary {
  background-color: transparent;
  color:#C69C6D;
  text-align: center;
  font-size: 14px;
  font-family: Source Sans Pro, Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px #C69C6D;
  padding: 18px 36px;
  text-decoration: none;
  display: inline-block;
  border-radius:30px;
  letter-spacing: 5px;
}

.header {
  height: 100%;
  background-image: url("assets/bg-img@2x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  /*overflow: hidden;*/
  display: block;
  position: relative;
}

.header-product {
  height: 100%;
  background-image: url("assets/product-image@2x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  /*overflow: hidden;*/
  display: block;
  position: relative;
}

.header-about{
  height: 100%;
  background-image: url("assets/about-image-white@2x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  /*overflow: hidden;*/
  display: block;
  position: relative;
}

.header-delivery{
  height: 100%;
  background-image: url("assets/delivery-image@2x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  /*overflow: hidden;*/
  display: block;
  position: relative;
}

.header-contact{
  height: 100%;
  background-image: url("assets/contact-image@2x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  /*overflow: hidden;*/
  display: block;
  position: relative;
}

.header-half{
  width: 40%;
  float: right;
  position: relative;
  padding: 50px;
  margin-top: 60px;
}


.header-section {
  text-align: center;
  display: block;
}

.header-section img{
  margin-top: 180px;
  width:400px;
  margin-bottom: 0px;
}

.navi-bar {
  display: block;
  z-index: 1;
}

.navi-bar img{
  margin-top: 40px;
  text-align: left;
  width:150px;
}

.navi-menu {
  margin-top: 0px;
  float: right;
  position: relative;

}

.navi-item {
  margin-left: 40px;
  text-align: right;
  font-size: 14px;
  font-family: Source Sans Pro;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

.navi-item-selected{
  margin-left: 40px;
  text-align: right;
  font-size: 14px;
  font-family: Source Sans Pro;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  letter-spacing: 3px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.navi-item img {
  width: 24px;
}

.bestseller {
  text-align: center;
  height: 750px;
}

.bestseller h1{
  margin-top: 100px;
}

.bestseller h2{
  margin-top: 40px;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  position: relative;
  width: 33.333%;
  padding: 3%;
  text-align: center;
}

.column h2{
  margin-top: 30px;
}

.column img {
  width: 100%;
}

.about {
  height: 600px;
  background-image: url("assets/about-image@2x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
  display: block;
}

.about-section {
  text-align: center;
  display: block;
}

.about-section img{
  margin-top: 200px;
  width:300px;
  margin-bottom: 40px;
}

.footer{
  background-color: #1A1A1A;
  height: 250px;
}

.footer img{
  width: 120px;
  margin-top: 80px;
  fill:white;
}
